input {
    focus-follows-mouse max-scroll-amount="0%"
    keyboard {
        xkb {
        	layout "br"
        }
        numlock
        repeat-delay 400
        repeat-rate 25
    }
    touchpad {
        tap
        natural-scroll
    }
    mouse {
        accel-speed -0.5
    }
    trackpoint { }
}
layout {
    gaps 16
    center-focused-column "on-overflow"
    empty-workspace-above-first
    preset-column-widths {
        proportion 0.33333
        proportion 0.50
        proportion 0.66667
    }
    default-column-width { proportion 0.50; }
    focus-ring {
        width 4
        active-color "#7fc8ff"
        inactive-color "#505050"
    }
    border {
        off
        width 4
        active-color "#ffc87f"
        inactive-color "#505050"
        urgent-color "#9b0000"
    }
    shadow {
        on
        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }
    struts {
        left  48
        right 48
    }
}
prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

include "workspaces.kdl"
include "startup.kdl"

include "binds.kdl"
include "outputs.kdl"
include "window-rules.kdl"

include "dms/windowrules.kdl"
include "dms/wpblur.kdl"
include "dms/alttab.kdl"
